<fragment>
    ${require('../v-resizable/fragment.html')}
    <div v-if="debug" style="padding-left:12px;">{{compProps}}
        <v-text-box v-if="noLabel == true"
            :content="content" :content-style="contentStyle"
            :view-pos-x="textPosX"
            :view-pos-y="textPosY"
            :rotation="labelRotation"
        />
        ${require('../v-xone/fragment.html')}
    </div>
    <fragment v-if="!debug">
        <v-text-box
            :content="content" :content-style="contentStyle"
            :view-pos-x="textPosX"
            :view-pos-y="textPosY"
            :rotation="labelRotation"
            />
        ${require('../v-xone/fragment.html')}
    </fragment>
</fragment>