<v-container
    :view-pos-x="viewPosX" :view-pos-y="0"
    :view-width="viewWidth" :view-height="viewHeight"
    layout-direction="horizontal"
    >   
    <fragment
        v-for="(track, idx) in sortedTracks"
        :key="idx">
        <v-track
            v-if="track.idDepthAxis" :name="track.title"
            :constrained="true"
            :track-id="track.idDepthAxis" :order-num="track.orderNum"
            :justification="track.justification" :show-title="track.showTitle"
            :view-pos-y="-viewPosY"
            track-type="Depth Track" :unit="track.unitType"
            :major-tick-length="track.majorTickLength" :minor-ticks="track.minorTickNum"
            :track-real-min-y="$store.state.currentPlotTop"
            :track-real-max-y="$store.state.currentPlotBottom"
            :view-width="convertWidth(track.widthUnit, track.width)" :view-height="viewHeight"
            :track-header-height="viewPosY" 
            :track-header-resize="trackHeaderResize"
            :on-resize="trackResize"
            :fill-color="track.trackBackground" :fill-transparency="1"
            x-transform="none" y-transform="linear"
            :real-min-y="$store.state.plotTop" :real-max-y="$store.state.plotBottom"
            cursor="crosshair" :enabled="true"
            />
            <v-track
                v-if="track.idZoneTrack"
                track-type='Zone Track' :grid="false"
                :constrained="true"
                :key="'zone_track' + idx + track.idZoneTrack" :name="track.title"
                :track-id="track.idZoneTrack" :order-num="track.orderNum"
                :justification="track.topJustification" :show-title="track.showTitle"
                :view-pos-y="-viewPosY"
                :view-width="convertWidth(track.widthUnit, track.width)" :view-height="viewHeight"
                :track-real-min-y="$store.state.currentPlotTop"
                :track-real-max-y="$store.state.currentPlotBottom"
                :track-header-height="viewPosY" 
                :track-header-resize="trackHeaderResize"
                :on-resize="trackResize"
                :fill-color="track.color" :fill-transparency="1"
                x-transform="none" y-transform="linear"
                :real-min-y="$store.state.plotTop" :real-max-y="$store.state.plotBottom"
                :enabled="true">
                <v-xone
                    v-for="(zone, i) in sortedTracks[idx]['zones']"
                    :key="'zone' + i + track.idZoneTrack"
                    :zoneset-id="zone.idZoneSet" :zone-id="zone.idZone"
                    :knob-flags="[true, true]"
                    :fill-color="zone.zone_template.background" :fill-transparency="1"
                    direction="vertical" :name="zone.zone_template.name"
                    :real-min-y="zone.startDepth" 
                    :real-max-y="zone.endDepth"
                    :handle-real-y="zoneResize"
                    x-transform="none" y-transform="linear"
                    :view-width="convertWidth(track.widthUnit, track.width)"
                    :content="zone.zone_template.name"
                    :content-style="zoneContentStyle"
                    :no-label="false"
                    :no-fill="false" />
            </v-track>
            <v-track
                v-if="track.idTrack"
                :constrained="true"
                :key="'track' + idx + track.idTrack" :name="track.title"
                :track-id="track.idTrack" :order-num="track.orderNum"
                :justification="track.topJustification" :show-title="track.showTitle"
                :view-pos-y="-viewPosY"
                :view-width="convertWidth(track.widthUnit, track.width)" :view-height="viewHeight"
                :track-real-min-y="$store.state.currentPlotTop"
                :track-real-max-y="$store.state.currentPlotBottom"
                :track-header-height="viewPosY" 
                :track-header-resize="trackHeaderResize"
                :on-resize="trackResize"
                :fill-color="track.color" :fill-transparency="1"
                x-transform="none" y-transform="linear"
                :real-min-y="$store.state.plotTop" :real-max-y="$store.state.plotBottom"
                :major-ticks="track.majorTicks" :minor-ticks="track.minorTicks"
                :show-depth-grid="track.showDepthGrid" :show-value-grid="track.showValueGrid"
                :enabled="true">
                <fragment
                    v-for="(shading, idx) in track.shadings"
                    :key="shading.name + shading.idControlCurve + shading.idShading">
                    <v-shading
                        :name="shading.name"
                        v-if="JSON.parse(shading.fill).display"
                        :type-fill-color="getShadingType(JSON.parse(shading.fill))"
                        :min-color="getShadingMinColor(JSON.parse(shading.fill))"
                        :max-color="getShadingMaxColor(JSON.parse(shading.fill))"
                        :custom-fill-values="getShadingCustomFills(JSON.parse(shading.fill), shading)"
                        :fill-pattern-list="getShadingPatternList(JSON.parse(shading.fill))"
                        :foreground-color-list="getShadingForegroundList(JSON.parse(shading.fill))"
                        :background-color-list="getShadingBackgroundList(JSON.parse(shading.fill))"
                        :palette="getShadingPalette(JSON.parse(shading.fill))"
                        :view-width="convertWidth(track.widthUnit, track.width)" :view-height="trackBodyScale"
                        y-transform="linear" :x-transform="getXTransformShading(shading)"
                        :real-min-y="$store.state.plotTop" :real-max-y="$store.state.plotBottom"
                        :real-min-x="getShadingRealMinX(shading)"
                        :real-max-x="getShadingRealMaxX(shading)"
                        :shading-low-value="JSON.parse(shading.fill).varShading.startX"
                        :shading-high-value="JSON.parse(shading.fill).varShading.endX"
                        :real-left="getShadingRealLeft(shading)"
                        :real-right="getShadingRealRight(shading)"
                        :shading-control-curve="getShadingControlCurve(shading)"
                        />
                    <v-shading 
                        :name="shading.name" :is-normal-fill="false"
                        v-else
                        :type-fill-color="getShadingType(JSON.parse(shading.positiveFill))"
                        :positive-side-color=getObjShadingColor(JSON.parse(shading.positiveFill))
                        :negative-side-color="getObjShadingColor(JSON.parse(shading.negativeFill))"
                        :positive-side-palette="getShadingPalette(JSON.parse(shading.positiveFill))"
                        :negative-side-palette="getShadingPalette(JSON.parse(shading.negativeFill))"
                        :view-width="convertWidth(track.widthUnit, track.width)" :view-height="trackBodyScale"
                        y-transform="linear" :x-transform="getXTransformShading(shading)"
                        :real-min-y="$store.state.plotTop" :real-max-y="$store.state.plotBottom"
                        :real-min-x="getShadingRealMinX(shading)"
                        :real-max-x="getShadingRealMaxX(shading)"
                        :shading-positive-low-value="JSON.parse(shading.positiveFill).varShading.startX"
                        :shading-positive-high-value="JSON.parse(shading.positiveFill).varShading.endX"
                        :shading-negative-low-value="JSON.parse(shading.negativeFill).varShading.startX"
                        :shading-negative-high-value="JSON.parse(shading.negativeFill).varShading.endX"
                        :real-left="getShadingRealLeft(shading)"
                        :real-right="getShadingRealRight(shading)"
                    />
                </fragment>
                <v-curve
                    v-for="(line, idx) in $store.state.lines.filter(line => line.idTrack === track.idTrack)"
                    :key="line.alias + idx + line.idLine" :name="line.alias"
                    :real-path="line.curve" :unit="line.unit"
                    :symbol-color="line.symbolFillStyle" :line-width="line.lineWidth"
                    :line-color="line.lineColor" :line-dash="line.lineStyle ? line.lineStyle : ''"
                    :real-min-x="line.minValue" :real-max-x="line.maxValue"
                    :real-min-y="$store.state.plotTop" :real-max-y="$store.state.plotBottom"
                    :x-transform="line.displayType === 'Linear'? 'linear': 'loga'" y-transform="linear"
                    :view-width="convertWidth(track.widthUnit, track.width)" :view-height="trackBodyScale"
                />
            </v-track>
    </fragment>
</v-container>
${require('../v-layer/fragment.html')}