<fragment>
    ${require('../v-resizable/fragment.html')}
    <v-rect
        v-if="showTitle"
        :view-pos-x="0" :view-pos-y="0"
        :view-width="viewWidth" :view-height="20"
        :line-width="0.5" line-color="0x010101"
        :enabled="true" :draggable="true"
        cursor="all-scroll" :clipped="true"
        :on-drag="onTitleDrag"
        :onmousemove="onTitleDragMove"
        :fill-color="trackTitleFillColor"> <!-- TO BE CHANGED  -->
        <v-textbox :content="name"
            :content-style="headerContentStyle"
            :view-width="textHeaderWidth(name)" 
            :view-pos-x="titlePosX(name)"
            :view-pos-y="10 - textHeaderHeight(name) / 2"
        />
    </v-rect>
    <v-resizable :view-pos-x="0" :view-pos-y="showTitle ? 20 : 0"
        :view-height="showTitle ? trackHeaderHeight - 20 : trackHeaderHeight" :view-width="viewWidth"
        direction="vertical" :knob-flags="[false, true]"
        :fill-color="fillColor || 0xFFFFFF" :fill-transparency="0.2"
        :size="5" :on-resize="trackHeaderResize"
        x-transform="none" y-transform="none">
        <v-viewport :view-pos-x="0" :view-pos-y="0"
            :view-width="viewWidth" :view-height="Math.max(showTitle ? trackHeaderHeight - 20 : trackHeaderHeight, trackHeaderChildrenHeight)"
            :viewport-width="viewWidth" :viewport-height="showTitle ? trackHeaderHeight - 20 : trackHeaderHeight"
            x-transform="none" y-transform="none"
            :enabled="true" :onmousedown="onHeaderMouseDown"
            line-color="0x000000" :line-width="1">
            <!-- TO BE CHANGED: tao 1 class moi v-item-header => track header visualize items -->
            <v-container 
                :view-pos-x="0" :view-pos-y="0"
                :view-width="viewWidth" :view-height="Math.max(showTitle ? trackHeaderHeight - 20 : trackHeaderHeight, trackHeaderChildrenHeight)"
                layout-direction="vertical">
            <v-rect-with-destroyed-evt
                v-if="trackType !== 'Depth Track'"
                v-for="(child, idx) in onRefsReady().sort((child1, child2) => child1.componentType.localeCompare(child2.componentType))" 
                :key = "child.name + ' ' + idx" :name="child.componentType + ' ' + idx"
                :view-pos-x="0"
                :enabled="true" :constrained="true"
                :view-width="viewWidth" :view-height="child.componentType === 'VCurve' ? 60: 30"
                :fill-color="child.componentType !== 'VZone' ? '0xFFFFFF' : child.fillColor" 
                x-transform="none" y-transform="none"
                :fill-transparency="child.componentType !== 'VZone' ? 0 : 1"
                line-color="0x080808" :line-width="1"
                :line-transparency="child.componentType !== 'VCurve' ? 1 : 0"
                :on-destroyed-fn="onChildRemove"
                :onmousedown="childHighlight">
                    <v-header-shading
                        v-if="child.componentType === 'VShading'"
                        :shading-name="child.name || child.componentType + ' ' + idx"
                        :line-color="0x101010" :line-width="1"
                        :view-pos-x="0" :view-pos-y="0"
                        :type-fill-color="child.typeFillColor"
                        :foreground-color="child.foregroundColorList && child.foregroundColorList.length === 1 ? child.foregroundColorList[0] : null"
                        :background-color="child.backgroundColorList && child.backgroundColorList.length === 1 ? child.backgroundColorList[0] : null"
                        :image-pattern-url="child.fillPatternList && child.fillPatternList.length === 1 ? child.fillPatternList[0] : null"
                        :min-color="child.getShadingMinColor" 
                        :max-color="child.getShadingMaxColor"
                        :palette="child.palette || child.positiveSidePalette"
                        :view-width="viewWidth" :view-height="30"
                        :fill-color="selectionStates[idx] ? '0xffc2b3' : '0xFFFFFF'"
                        :fill-transparency="0" :content-style="headerContentStyle"
                        :shading-low-value="child.shadingLowValue"
                        :shading-high-value="child.shadingHighValue"
                        x-transform="none" y-transform="none"
                    />
                    <v-header-curve 
                        v-if="child.componentType === 'VCurve'"
                        :curve-name="child.name || child.componentType + ' ' + idx"
                        :view-pos-x="0" :view-pos-y="0"
                        :fill-color="selectionStates[idx] ? child.symbolColor : '0xFFFFFF'" 
                        :fill-transparency="selectionStates[idx] ? 0.2 : 1"
                        :view-width="viewWidth" :view-height="60"
                        :content-style="{...headerContentStyle, fill: child.symbolColor}"
                        :unit="child.unit"
                        :left-value="child.realMinX || child.$parent.realMinX"
                        :right-value="child.realMaxX || child.$parent.realMaxX"
                        :line-dash="child.lineDash"
                        :path-color="child.symbolColor"
                    />
                    <v-textbox
                        v-if="child.componentType === 'VZone'"
                        :content="child.name || child.componentType + ' ' + idx" :fill-color="selectionStates[idx] ? '0xffc2b3' : '0xFFFFFF'"
                        :fill-transparency="1"
                        line-color="0x010101" :line-width="1"
                        :view-width="textHeaderWidth(child.name || child.componentType + ' ' + idx)"
                        :view-height="textHeaderHeight(child.name || child.componentType + ' ' + idx)"
                        :content-style="headerContentStyle"
                        :view-pos-x="viewWidth/2 - textHeaderWidth(child.name || child.componentType + ' ' + idx) / 2"
                        :view-pos-y="15 - textHeaderHeight(child.name || child.componentType + ' ' + idx) / 2"
                    />
            </v-rect-with-destroyed-evt>
            <fragment v-if="trackType === 'Depth Track'">
                <v-textbox
                    :content="unit || 'M'"
                    :view-width="textHeaderWidth(unit || 'M')"
                    :view-height="textHeaderHeight(unit || 'M')"
                    :content-style="headerContentStyle"
                    :view-pos-x="viewWidth/2 - textHeaderWidth(unit || 'M')/2"
                    :view-pos-y="5"
                />
                <v-textbox
                    :content="cRatioScreen"
                    :view-width="textHeaderWidth(cRatioScreen)"
                    :view-height="textHeaderHeight(cRatioScreen)"
                    :content-style="headerContentStyle"
                    :view-pos-x="viewWidth/2 - textHeaderWidth(cRatioScreen)/2"
                    :view-pos-y="textHeaderHeight(unit || 'M') + 10"
                />
            </fragment>
        </v-container>
        </v-viewport>
    </v-resizable>
    <v-viewport :view-pos-x="0" :view-pos-y="trackHeaderHeight"
        ref="viewportBody" :clipped="true"
        :view-width="viewWidth" :view-height="scaleTrackHeight"
        :viewport-width="viewWidth" :viewport-height="viewHeight - trackHeaderHeight"
        x-transform="none" :y-transform="yTransform"
        line-color="0x000000" :line-width="1"
        :real-min-y="realMinY" :real-max-y="realMaxY">
        <v-axis-ext-mouse
            v-if="trackType === 'Depth Track'"
            clipped="true" axis="y" 
            ref="axis"
            :view-width="viewWidth" :view-height="scaleTrackHeight" 
            :real-min-y="realMinY" :real-max-y="realMaxY" 
            :y-transform="yTransform" x-transform="none"
            :grid="false" :on-ext-mouse-pos="genTooltip"
            :onmousedown="onTrackMouseDown"
            :major-tick-length="majorTickLength" :minor-ticks="minorTicks" 
            :line-width="lineWidth" :line-color="lineColor"
            :fill-color="fillColor || 0xFFFFFF" :tick-precision="1"
            tick-label-position="middle"
            cursor="crosshair" :enabled="true"
            />
        <v-rect-ext-mouse-with-mounted-event 
            :view-pos-x="0" :view-pos-y="0"
            v-if="trackType === 'Zone Track'"
            ref="trackChildren" :name="name"
            :on-mounted-fn="onRefsReady"
            :view-width="viewWidth" :view-height="scaleTrackHeight"
            x-transform="none" :y-transform="yTransform"
            :real-min-y="realMinY" :real-max-y="realMaxY"
            :fill-color="checkSelected ? '0xF0F000' : '0xFFFFFF'"
            :fill-transparency="checkSelected ? 0.2 : 1"
            :enabled="true" cursor="crosshair"
            :onmousedown="onTrackMouseDown"
            :on-ext-mouse-pos="genTooltip">
            <slot />
        </v-rect-ext-mouse-with-mounted-event>
        <v-cartersian-ext-mouse
            v-if="!trackType"
            :view-pos-x="0" :view-pos-y="0"
            :name="name + trackId" 
            :grid-x="showValueGrid" :grid-y="showDepthGrid"
            :view-width="viewWidth" :view-height="scaleTrackHeight"
            :real-min-y="realMinY" :real-max-y="realMaxY"
            :real-min-x="0" :real-max-x="viewWidth"
            :fill-color="checkSelected ? '0xF0F000' : '0xFFFFFF'"
            :fill-transparency="checkSelected ? 0.2 : 1"
            :enabled="true" cursor="crosshair"
            x-transform="linear" :y-transform="yTransform"
            line-color="0x000000" :line-width="1"
            :major-ticks-y="showDepthGrid && Math.floor(scaleTrackHeight  / 150)" :minor-ticks-y="showDepthGrid && 5"
            :major-ticks-x="showValueGrid && (majorTicks || 1)" :minor-ticks-x="showValueGrid && (minorTicks || 5)"
            :onmousedown="onTrackMouseDown"
            :on-ext-mouse-pos="genTooltip">
            <v-rect-with-mounted-event :view-pos-x="0" :view-pos-y="0"
                ref="trackChildren"
                :on-mounted-fn="onRefsReady"
                :view-width="viewWidth" :view-height="scaleTrackHeight"
                x-transform="none" y-transform="none"
                fill-color="0xFFFFFF" :fill-transparency="0.001">
                <slot />
            </v-rect-with-mounted-event>
        </v-cartersian-ext-mouse>
    </v-viewport>
</fragment>