<fragment>
    ${require('../v-resizable/fragment.html')}
    <v-rect :view-pos-x="0" :view-pos-y="0"
        :view-width="viewWidth" :view-height="20"
        :line-width="0.5" line-color="0x010101"
        :fill-color="0x3366ff"> <!-- TO BE CHANGED  -->
        <v-textbox :content="name"
            :content-style="headerContentStyle"
            :view-pos-x="viewWidth/2 - textWidth(name)/2"
            :view-pos-y="10 - textHeight(name) / 2"
        />
    </v-rect>
    <v-resizable :view-pos-x="0" :view-pos-y="20"
        :view-height="trackHeaderHeight - 20" :view-width="viewWidth"
        direction="vertical" :knob-flags="[false, true]"
        :fill-color="fillColor || 0xFFFFFF" :fill-transparency="fillTransparency"
        :size="5" :on-resize="trackHeaderResize"
        x-transform="none" y-transform="none">
        <v-viewport :view-pos-x="0" :view-pos-y="0"
            :view-width="viewWidth" :view-height="Math.max(trackHeaderHeight - 20, trackHeaderChildrenHeight)"
            :viewport-width="viewWidth" :viewport-height="trackHeaderHeight - 20"
            x-transform="none" y-transform="none"
            line-color="0x000000" :line-width="1">
            <!-- TO BE CHANGED: tao 1 class moi v-item-header => track header visualize items -->
            <v-rect
                v-for="(child, idx) in onRefsReady()" 
                :key = "child.name + ' ' + idx" :name="child.componentType + ' ' + idx"
                :view-pos-x="0" :view-pos-y="childrenHeaderPosYList[idx]"
                :enabled="true"
                :type-fill-color="child.typeFillColor"
                :foreground-color="child.foregroundColor"
                :background-color="child.backgroundColor"
                :image-pattern-url="child.imagePatternUrl"
                :min-color="child.minColor" :max-color="child.maxColor"
                :pallete="child.pallete"
                :view-width="viewWidth" :view-height="child.componentType === 'Curve' ? 60: 30"
                :fill-color="child.componentType !== 'VZone' ? '0xFFFFFF' : child.fillColor" 
                x-transform="none" y-transform="none"
                :fill-transparency="child.componentType !== 'VZone' ? 0 : 1"
                line-color="0x080808" :line-width="1"
                :line-transparency="child.componentType !== 'VCurve' ? 1 : 0"
                :onmousedown="childHighlight">
                    <fragment v-if="child.componentType === 'VShading'">
                        <v-textbox 
                            v-if="child.curveLowValue"
                            :content="child.curveLowValue" :fill-color="0xFFFFFF"
                            :fill-transparency="1" 
                            :line-color="0x101010" :line-width="1"
                            :content-style="headerContentStyle"
                            :view-width="textWidth(child.curveLowValue) + 5"
                            :view-height="textHeight(child.curveLowValue)"
                            :view-pos-x="5"
                            :view-pos-y="15 - textHeight(child.curveLowValue) / 2"
                        />
                        <v-textbox
                            :content="child.name || child.componentType + ' ' + idx"
                            :fill-color="selectionStates[idx] ? '0xffc2b3' : '0xFFFFFF'"
                            :fill-transparency="1"selected
                            line-color="0x010101" :line-width="1"
                            :view-width="textWidth(child.name || child.componentType + ' ' + idx) + 10"
                            :view-height="textHeight(child.name || child.componentType + ' ' + idx)"
                            :content-style="headerContentStyle"
                            :view-pos-x="viewWidth/2 - (textWidth(child.name || child.componentType + ' ' + idx) + 10) / 2"
                            :view-pos-y="15 - textHeight(child.name || child.componentType + ' ' + idx) / 2"
                        />
                        <v-textbox 
                            v-if="child.curveHighValue"
                            :content="child.curveHighValue" :fill-color="0xFFFFFF"
                            :fill-transparency="1" 
                            :line-color="0x101010" :line-width="1"
                            :content-style="headerContentStyle"
                            :view-width="textWidth(child.curveHighValue) + 5"
                            :view-height="textHeight(child.curveHighValue)"
                            :view-pos-x="viewWidth - textHeight(child.curveHighValue) - 10"
                            :view-pos-y="15 - textHeight(child.curveHighValue) / 2"
                        />
                    </fragment>
                    <v-header-curve 
                        v-if="child.componentType === 'VCurve'"
                        :curve-name="child.name || child.componentType + ' ' + idx"
                        :view-pos-x="0" :view-pos-y="0"
                        :fill-color="selectionStates[idx] ? child.symbolColor : '0xFFFFFF'" 
                        :fill-transparency="selectionStates[idx] ? 0.2 : 1"
                        :view-width="viewWidth" :view-height="60"
                        :content-style="{...headerContentStyle, fill: child.symbolColor}"
                        :unit="child.unit"
                        :left-value="child.leftValue"
                        :right-value="child.rightValue"
                        :line-dash="child.lineDash"
                        :path-color="child.symbolColor"
                    />
                    <v-textbox
                        v-if="child.componentType === 'VZone'"
                        :content="child.name || child.componentType + ' ' + idx" :fill-color="selectionStates[idx] ? '0xffc2b3' : '0xFFFFFF'"
                        :fill-transparency="1"selected
                        line-color="0x010101" :line-width="1"
                        :view-width="textWidth(child.name || child.componentType + ' ' + idx) + 10"
                        :view-height="textHeight(child.name || child.componentType + ' ' + idx)"
                        :content-style="headerContentStyle"
                        :view-pos-x="viewWidth/2 - (textWidth(child.name || child.componentType + ' ' + idx) + 10) / 2"
                        :view-pos-y="15 - textHeight(child.name || child.componentType + ' ' + idx) / 2"
                    />
            </v-rect>
        </v-viewport>
    </v-resizable>
    <v-viewport :view-pos-x="0" :view-pos-y="trackHeaderHeight"
        ref="viewportBody"
        :view-width="viewWidth" :view-height="scaleTrackHeight"
        :viewport-width="viewWidth" :viewport-height="viewHeight - trackHeaderHeight"
        :x-transform="xTransform" :y-transform="yTransform"
        line-color="0x000000" :line-width="1"
        :real-min-x="realMinX" :real-max-x="realMaxX"
        :real-min-y="realMinY" :real-max-y="realMaxY">
        <v-cartersian-ext-mouse
            :view-pos-x="0" :view-pos-y="0"
            :name="name" :grid="grid"
            :view-width="viewWidth" :view-height="scaleTrackHeight"
            :real-min-x="realMinX" :real-max-x="realMaxX"
            :real-min-y="realMinY" :real-max-y="realMaxY"
            :fill-color="checkShading ? '0xF0F000' : '0xFFFFFF'"
            :fill-transparency="checkShading ? 0.2 : 1"
            :enabled="true" cursor="crosshair"
            :x-transform="xTransform" :y-transform="yTransform"
            line-color="0x000000" :line-width="1"
            :major-ticks-y="grid && Math.floor(scaleTrackHeight  / 150)" :minor-ticks-y="grid && 5"
            :major-ticks-x="grid && 1" :minor-ticks-x="grid && 5"
            :onmousedown="onTrackMouseDown"
            :on-ext-mouse-pos="genTooltip">
            <v-rect-with-mounted-event :view-pos-x="0" :view-pos-y="0"
                ref="trackChildren"
                :on-mounted-fn="onRefsReady"
                :view-width="viewWidth" :view-height="scaleTrackHeight"
                :x-transform="xTransform" :y-transform="yTransform"
                :real-min-x="realMinX" :real-max-x="realMaxX"
                :real-min-y="realMinY" :real-max-y="realMaxY"
                fill-color="0xFFFFFF" :fill-transparency="0.001">
                <slot />
            </v-rect-with-mounted-event>
            <!-- <v-path v-for="(path, idx) in pathList" :key="idx"
                :symbol-color="shadingColor" :view-width="viewWidth"
                :real-path="path" :line-width="3" 
                :line-transparency="0.3" 
                :selected-offset-x="-2" :selected-offset-y="-2">
            </v-path> -->
        </v-cartersian-ext-mouse>
    </v-viewport>
</fragment>